ignore-scripts=true
# TODO: implement allow-git workaround for @grafana/ui packages
#allow-git=none
min-release-age=3
save-exact=true
save-prefix=
registry=https://registry.npmjs.org/
engine-strict=true
